.introContainer {
    padding-bottom: 6rem;
    padding-top: 6rem;
    background-color: rgba(24,26,34,1);
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transform: translateZ(0);
    width: 100%;

    .title {
        font-size: 2.25rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
        color: #fff;
        text-align: center;
    }

    .content {
        margin-bottom: 1.5rem;
        white-space: normal;
        color: #fff;
        font-size: 1.125rem;
        line-height: 2.2rem;
        font-weight: 400;
        margin-top: 1.75rem;
    }
}