.cardContainer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgba(24,26,34,1);
    width: 100%;

    .card {
        border: 3px solid #ff5b00;
        background-color: transparent;
        color: #fff;

        .title {
            color: #fff;
        }
    }
}